<p style="font-size:300%; text-align:center"> Telco Customer Churn modeling</p>
<p style="font-size:150%; text-align:center"> Focused customer retention programs <br> MOD3 Project - 2. Scrub</p>

In [1]:
# import important libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# import important and explore dataset
df = pd.read_csv("data/WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.sample(6).T

,2090,4587,1623,5175,1892,3573
customerID,6661-EIPZC,5201-USSQZ,6035-RIIOM,7813-TKCVO,1636-NTNCO,6506-EYCNH
gender,Female,Female,Female,Female,Male,Female
SeniorCitizen,0,0,0,0,1,0
Partner,Yes,Yes,No,Yes,No,Yes
Dependents,Yes,No,No,No,No,Yes
tenure,48,26,54,20,4,28
PhoneService,No,Yes,Yes,Yes,No,Yes
MultipleLines,No phone service,No,Yes,No,No phone service,No
InternetService,DSL,Fiber optic,Fiber optic,No,DSL,No
OnlineSecurity,No,No,No,No internet service,No,No internet service
OnlineBackup,No,No,Yes,No internet service,Yes,No internet service
DeviceProtection,No,No,No,No internet service,No,No internet service
TechSupport,Yes,Yes,No,No internet service,No,No internet service
StreamingTV,No,No,Yes,No internet service,Yes,No internet service
StreamingMovies,No,Yes,Yes,No internet service,Yes,No internet service
Contract,Month-to-month,Month-to-month,Two year,One year,Month-to-month,Month-to-month
PaperlessBilling,Yes,No,Yes,No,Yes,Yes
PaymentMethod,Credit card (automatic),Credit card (automatic),Bank transfer (automatic),Mailed check,Credit card (automatic),Bank transfer (automatic)
MonthlyCharges,29.5,85.9,97.2,20.35,50.95,19.55
TotalCharges,1423.05,2196.45,5129.45,393.15,207.35,543.8
Churn,No,No,No,No,No,No

## Any obvious features to eliminate? 
customerID needs to be removed for data explorationa, analysis and model building.

In [3]:
# let's remove customer ID as it's not helpful fro data analysis and prediction
df = df.drop(['customerID'], axis=1)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

First look at the data types show TotalCharge should be a numerical value. Let's first explore this feature.

In [5]:
df.TotalCharges.value_counts()

           11
20.2       11
19.75       9
19.65       8
20.05       8
           ..
693.3       1
1534.05     1
78.9        1
747.2       1
6322.1      1
Name: TotalCharges, Length: 6531, dtype: int64

In [6]:
# there appear to be 11 empty values. Let's replace them with nan. and since it's less than .2% of the data we can drop them
df.TotalCharges = df.TotalCharges.replace(" ",np.nan)
df.dropna(inplace=True)

In [7]:
# let's chack for duplicates <-- this is questionable 
#df.duplicated()
#df[df.duplicated()]

In [8]:
for col in df.columns:
    display(df[col].value_counts())

Male      3549
Female    3483
Name: gender, dtype: int64

0    5890
1    1142
Name: SeniorCitizen, dtype: int64

No     3639
Yes    3393
Name: Partner, dtype: int64

No     4933
Yes    2099
Name: Dependents, dtype: int64

1     613
72    362
2     238
3     200
4     176
     ...
38     59
28     57
39     56
44     51
36     50
Name: tenure, Length: 72, dtype: int64

Yes    6352
No      680
Name: PhoneService, dtype: int64

No                  3385
Yes                 2967
No phone service     680
Name: MultipleLines, dtype: int64

Fiber optic    3096
DSL            2416
No             1520
Name: InternetService, dtype: int64

No                     3497
Yes                    2015
No internet service    1520
Name: OnlineSecurity, dtype: int64

No                     3087
Yes                    2425
No internet service    1520
Name: OnlineBackup, dtype: int64

No                     3094
Yes                    2418
No internet service    1520
Name: DeviceProtection, dtype: int64

No                     3472
Yes                    2040
No internet service    1520
Name: TechSupport, dtype: int64

No                     2809
Yes                    2703
No internet service    1520
Name: StreamingTV, dtype: int64

No                     2781
Yes                    2731
No internet service    1520
Name: StreamingMovies, dtype: int64

Month-to-month    3875
Two year          1685
One year          1472
Name: Contract, dtype: int64

Yes    4168
No     2864
Name: PaperlessBilling, dtype: int64

Electronic check             2365
Mailed check                 1604
Bank transfer (automatic)    1542
Credit card (automatic)      1521
Name: PaymentMethod, dtype: int64

20.05     61
19.85     44
19.90     44
19.95     44
19.65     43
          ..
92.35      1
35.60      1
72.85      1
67.70      1
113.30     1
Name: MonthlyCharges, Length: 1584, dtype: int64

20.2       11
19.75       9
19.65       8
20.05       8
19.9        8
           ..
6416.7      1
486.05      1
693.3       1
1534.05     1
6322.1      1
Name: TotalCharges, Length: 6530, dtype: int64

No     5163
Yes    1869
Name: Churn, dtype: int64

In [ ]:
# Yes/No maybe easier for the EDA and iNterpret
df.to_csv("data/telco_clean_1.csv", index=False)

## removing redundancies

* "No phone service" of "MultipleLines" means no multiple lines by definition. Thus, we can change "no phone service" to simply "no". <br>
* Similarly "No internet service" in features "OnlineSecurity", "OnlineBackup", "DeviceProtection", "TechSupport", "StreamingTV" and "StreamingMovies" can be changed to "no" as well

In [9]:
df.replace(to_replace=["No phone service", "No internet service", "Fiber optic"], 
           value = ["No_phone", "No_internet", "Fiber_optic"], inplace=True)

In [10]:
# Make the target and Yes/No categorical features numerical
cols=['Partner', 'Dependents', 'PhoneService', 'PaperlessBilling', 'Churn']
for col in cols:
    df[col].replace(to_replace=["Yes", "No"], value = [1, 0], inplace=True)

In [11]:
# replace "no phone service"
#df['MultipleLines'] = df['MultipleLines'].apply(lambda x: x.strip().replace("No phone service", "No"))
# replace "no internet service"
#cols=['OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies']
#for col in cols:
#    df[col] = df[col].apply(lambda x: x.strip().replace("No internet service", "No"))
    
    #display(df[col].value_counts())

In [12]:
# clean the 'Contract'
df['Contract'] = df['Contract'].apply(lambda x: x.strip().replace(" ","_").replace("-","_"))
# clean the PaymentMethod
df['PaymentMethod'] = df['PaymentMethod'].apply(lambda x: x.replace("automatic", "").replace("(", "").replace(")", "").strip())
df['PaymentMethod'] = df['PaymentMethod'].apply(lambda x: x.strip().replace(" ","_").replace("\(automatic\)", ""))
#display(df['PaymentMethod'].value_counts())

In [13]:
for col in df.columns:
    display(df[col].value_counts())

Male      3549
Female    3483
Name: gender, dtype: int64

0    5890
1    1142
Name: SeniorCitizen, dtype: int64

0    3639
1    3393
Name: Partner, dtype: int64

0    4933
1    2099
Name: Dependents, dtype: int64

1     613
72    362
2     238
3     200
4     176
     ...
38     59
28     57
39     56
44     51
36     50
Name: tenure, Length: 72, dtype: int64

1    6352
0     680
Name: PhoneService, dtype: int64

No          3385
Yes         2967
No_phone     680
Name: MultipleLines, dtype: int64

Fiber_optic    3096
DSL            2416
No             1520
Name: InternetService, dtype: int64

No             3497
Yes            2015
No_internet    1520
Name: OnlineSecurity, dtype: int64

No             3087
Yes            2425
No_internet    1520
Name: OnlineBackup, dtype: int64

No             3094
Yes            2418
No_internet    1520
Name: DeviceProtection, dtype: int64

No             3472
Yes            2040
No_internet    1520
Name: TechSupport, dtype: int64

No             2809
Yes            2703
No_internet    1520
Name: StreamingTV, dtype: int64

No             2781
Yes            2731
No_internet    1520
Name: StreamingMovies, dtype: int64

Month_to_month    3875
Two_year          1685
One_year          1472
Name: Contract, dtype: int64

1    4168
0    2864
Name: PaperlessBilling, dtype: int64

Electronic_check    2365
Mailed_check        1604
Bank_transfer       1542
Credit_card         1521
Name: PaymentMethod, dtype: int64

20.05     61
19.85     44
19.90     44
19.95     44
19.65     43
          ..
92.35      1
35.60      1
72.85      1
67.70      1
113.30     1
Name: MonthlyCharges, Length: 1584, dtype: int64

20.2       11
19.75       9
19.65       8
20.05       8
19.9        8
           ..
6416.7      1
486.05      1
693.3       1
1534.05     1
6322.1      1
Name: TotalCharges, Length: 6530, dtype: int64

0    5163
1    1869
Name: Churn, dtype: int64

In [14]:
df.sample(10)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7019,Female,0,0,0,39,1,No,No,No_internet,No_internet,No_internet,No_internet,No_internet,No_internet,Two_year,0,Mailed_check,20.15,826,0
5025,Male,0,1,1,6,1,No,Fiber_optic,No,No,No,No,No,No,Month_to_month,1,Electronic_check,69.80,377.85,0
6979,Male,0,0,1,1,0,No_phone,DSL,No,No,No,No,No,No,Month_to_month,0,Mailed_check,24.20,24.2,0
3496,Male,0,0,0,25,1,No,Fiber_optic,Yes,No,No,No,No,No,Month_to_month,0,Bank_transfer,74.30,1952.25,0
2994,Male,0,1,0,62,0,No_phone,DSL,Yes,Yes,No,Yes,No,No,Two_year,1,Credit_card,38.60,2345.55,0
203,Male,0,0,1,13,1,No,Fiber_optic,No,No,No,No,Yes,No,Month_to_month,1,Credit_card,78.30,1033.95,0
6001,Female,0,0,0,1,0,No_phone,DSL,No,No,No,No,No,No,Month_to_month,1,Mailed_check,24.90,24.9,0
2238,Female,0,0,0,1,1,No,Fiber_optic,No,No,No,Yes,Yes,Yes,Month_to_month,1,Electronic_check,95.85,95.85,0
5627,Male,1,1,0,7,1,Yes,Fiber_optic,No,No,No,No,No,No,Month_to_month,1,Electronic_check,74.85,485.25,0
1641,Male,0,1,0,72,1,Yes,DSL,Yes,Yes,Yes,Yes,Yes,Yes,Two_year,1,Bank_transfer,87.10,6230.1,0

## Scrubbing done
save file

In [15]:
df.to_csv("data/telco_clean.csv", index=False)